<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commerce">
            <h2><span>Commerce</span> {{commerce.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Identification</span></dt>
                <dd>
                    <span>{{commerce.identification}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{commerce.name}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{commerce.address}}</span>
                </dd>
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{commerce.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{commerce.longitude}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{commerce.email}}</span>
                </dd>
                <dt><span>Ranking</span></dt>
                <dd>
                    <span>{{commerce.ranking}}</span>
                </dd>
                <dt><span>Photograph</span></dt>
                <dd>
                    <span>{{commerce.photograph}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{commerce.state}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{commerce.phone}}</span>
                </dd>
                <dt><span>Inventory</span></dt>
                <dd>
                    <div *ngIf="commerce.inventory">
                        <a [routerLink]="['/inventory', commerce.inventory?.id, 'view']">{{commerce.inventory?.id}}</a>
                    </div>
                </dd>
                <dt><span>Schedule</span></dt>
                <dd>
                    <div *ngIf="commerce.schedule">
                        <a [routerLink]="['/schedule-commerce', commerce.schedule?.id, 'view']">{{commerce.schedule?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commerce', commerce.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
